apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-deployment
  labels:
    app: flood-forecasting
    component: db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flood-forecasting
      component: db
  template:
    metadata:
      labels:
        app: flood-forecasting
        component: db
    spec:
      containers:
        - name: db
          image: postgis/postgis:16-3.4
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: flood-forecasting-secrets
                  key: POSTGRES_DB
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: flood-forecasting-secrets
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: flood-forecasting-secrets
                  key: POSTGRES_PASSWORD
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: flood-forecasting-secrets
                  key: DATABASE_URL
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pv-claim
