apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio-deployment
  labels:
    app: flood-forecasting
    component: minio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flood-forecasting
      component: minio
  template:
    metadata:
      labels:
        app: flood-forecasting
        component: minio
    spec:
      containers:
        - name: minio
          image: minio/minio
          args: ["server", "/data", "--console-address", ":9001"]
          ports:
            - containerPort: 9000
            - containerPort: 9001
          env:
            - name: MINIO_ROOT_USER
              valueFrom:
                secretKeyRef:
                  name: flood-forecasting-secrets
                  key: MINIO_ACCESS_KEY
            - name: MINIO_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: flood-forecasting-secrets
                  key: MINIO_SECRET_KEY
          volumeMounts:
            - name: minio-storage
              mountPath: /data
      volumes:
        - name: minio-storage
          persistentVolumeClaim:
            claimName: minio-pv-claim
