apiVersion: v1
kind: Service
metadata:
  name: redis
  labels:
    app: flood-forecasting
    component: redis
spec:
  selector:
    app: flood-forecasting
    component: redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
  type: ClusterIP
